# The phone number of the recipient in E.164 format
RECIPIENT=

# The phone number of the sender in E.164 format.
# This is your Twilio phone number
TWILIO_PHONE_NUMBER=

# Your Twilio Account SID
TWILIO_ACCOUNT_SID=

# Your Twilio Auth Token
TWILIO_AUTH_TOKEN=
